<div class="container">
    <div class="login">
        <div class="form-group">
            <h1>Welcome to the RAH Newark Library!</h1><br>
            <form ng-submit="submitLoginForm()">
                <input type="text" class="form-control" id="username" placeholder="Please enter your username" ng-model="loginForm.userName"><br>
                <input type="password" class="form-control" id="password" placeholder="Please enter your password" ng-model="loginForm.password"><br>
                <input type="radio" id="checkAdmin" ng-model="loginForm.checkAdmin" value="1">  Are you an admin?  <br><br>
                <input type="submit" class="btn btn-primary btn-md" id="login_btn" placeholder="Login"><br><br>
                {{loginMessage}}
            </form>
        </div>
    </div>
</div>