<div class="container">
    <div class="form-inline">
        <a type="button"  class="btn btn-primary" href="#/home">Home</a>
        <a type="button"  class="btn btn-primary" href="#/transactions">Transactions</a>
        <a ng-show="admin>0" type="button" class="btn btn-primary" href="#/addReader">Add Reader</a>
        <a ng-show="admin>0" type="button" class="btn btn-primary" href="#/addBook">Add Book</a>
        <a ng-show="admin>0" type="button" class="btn btn-primary" href="#/addBranch">Add Branch</a>
    </div>
    <br>
    <div class="home">
    <table class="table table-striped">
	    <tr>
		    <th>#</th>
		    <th>Library Branch Name</th>
		    <th>Library Id</th>
		    <th>Document Id</th>
		    <th>Document Title</th>
		    <th>Copy No</th>
		    <th>Copy Location</th>
		    <th ng-show="admin>0">Reader Id</th>
		    <th>Operation</th>
		</tr>
		<tr ng-repeat="x in availableCopies | filter:searchText">
		    <td>{{$index+1}}</td>
		    <td>{{x.branchName}}</td>
		    <td>{{x.branchId}}</td>
		    <td>{{x.docId}}</td>
		    <td>{{x.docTitle}}</td>
		    <td>{{x.copyNo}}</td>
		    <td>{{x.copyPosition}}</td>
		    <td ng-show="admin>0"><input class="form-control" ng-model="x.reader_id" style="text-align: center"></td>
		    <td ng-show="admin>0"><button ng-class="{'btn btn-warning': !x.clicked, 'btn btn-success': x.clicked}" ng-click="approve(x); toggle=!toggle; x.clicked = !x.clicked"><span ng-show="toggle">Done</span><span ng-hide="toggle">Borrow</span></button></td>
		    <td ng-show="admin<1"><button ng-class="{'btn btn-warning': !x.clicked, 'btn btn-success': x.clicked}" ng-click="approve(x); toggle=!toggle; x.clicked = !x.clicked"><span ng-show="toggle">Done</span><span ng-hide="toggle">Reserve</span></button></td>
		</tr>
	</table>
        <!-- <table class="table table-striped">
            <tr>
                <th>#</th>
                <th>Reader Name</th>
                <th>Lib Id</th>
                <th>Doc Id</th>
                <th>Title</th>
                <th>Author</th>
                <th>Copy No</th>
                <th>Status</th>
                <th>Date</th>
                <th ng-show="admin>0">Return</th>
                <th ng-show="admin>0">Fine</th>
            </tr>
            <tr ng-repeat="x in books | filter:searchText">
                <td>{{$index + 1}}</td>
                <td>{{x.name}}</td>
                <td>{{x.lib_id}}</td>
                <td>{{x.doc_id}}</td>
                <td>{{x.title}}</td>
                <td>{{x.author}}</td>
                <td>{{x.copy_no}}</td>
                <td ng-show="admin>0" ng-if="x.status=='Reserved'"><button ng-class="{'btn btn-warning': !x.clicked, 'btn btn-success': x.clicked}" ng-click="approve(x); toggle=!toggle; x.clicked = !x.clicked"><span ng-show="toggle">Done</span><span ng-hide="toggle">Lend</span></button></td>
                <td ng-show="admin>0" ng-if="x.status=='Borrowed'">{{x.status}}</td>
                <td ng-show="admin<1">{{x.status}}</td>
                <td>{{x.date}}</td>
                <td ng-show="admin>0" ng-if="x.status=='Borrowed'"><button ng-class="{'btn btn-warning': !x.clicked, 'btn btn-success': x.clicked}" ng-click="approve(x); toggle=!toggle; x.clicked = !x.clicked"><span ng-show="toggle">Done</span><span ng-hide="toggle">Return</span></button></td>
                <td ng-show="admin>0" ng-if="x.status=='Reserved'"></td>
                <td ng-show="admin>0" ng-if="x.status=='Borrowed'">{{x.fine}}</td>
                <td ng-show="admin>0" ng-if="x.status=='Reserved'"></td>
            </tr>
        </table> -->
    </div>
</div>